{{!-- ./views/edit.handlebars --}}
<form action="/records/{{{record.id}}}?_method=PUT" method="POST">
  {{!-- 名稱 --}}
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">名稱<span class="text-danger">*</span></label>
    <div class="col-sm-10">
      <input name="name" type="text" class="form-control" id="name" value="{{{record.name}}}" placeholder="請輸入支出名稱...">
    </div>
  </div>
  {{!-- 建立日期 --}}
  <div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">金額<span class="text-danger">*</span></label>
    <div class="input-group date col-sm-10" id="datetimepicker4" data-target-input="nearest">
      <input name="date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"
        value="{{{record.date}}}" placeholder="點擊日曆選擇日期..." />
      <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  {{!-- 類別 --}}
  <div class="form-group row">
    <label for="category" class="col-sm-2 col-form-label">種類<span class="text-danger">*</span></label>
    <div class="input-group col-sm-10">
      <select name="category" class="form-control btn btn-secondary dropdown-toggle" href="#" role="button">
        <option value="家居物業" {{#ifEquals record.category '家居物業' }}selected{{/ifEquals}}>家居物業</option>
        <option value="交通出行" {{#ifEquals record.category '交通出行' }}selected{{/ifEquals}}>交通出行</option>
        <option value="休閒娛樂" {{#ifEquals record.category '休閒娛樂' }}selected{{/ifEquals}}>休閒娛樂</option>
        <option value="餐飲食品" {{#ifEquals record.category '餐飲食品' }}selected{{/ifEquals}}>餐飲食品</option>
        <option value="其他">其他</option>
      </select>
    </div>
  </div>
  {{!-- 金額 --}}
  <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">金額<span class="text-danger">*</span></label>
    <div class="input-group col-sm-10">
      <input name="amount" type="number" class="form-control" min=0 data-target="#datetimepicker4"
        value="{{{record.amount}}}" placeholder="請輸入金額..." />
    </div>
  </div>
  <button class="btn btn-primary btn-lg" type="submit">送出</button>
</form>